<!DOCTYPE html>
<html>
	<head>
    <style>
      .content {
        display: inline-block;
      }
    </style>
		<script type="text/javascript" src="/js/utils.js"></script>
	</head>
	<body>
    <div class="content">
      {{ content }}
    </div>
  <div>
    <ul>Other Examples:
      <li><a href="/mines.html">Minesweeper</a></li>
      <li><a href="/robot">Robot</a></li>
      <li><a href="/balls.html">Balls</a></li>
      <li><a href="/percolation.html">Percolation</a></li>
      <li><a href="/rbt.html">Red black tree</a></li>
      <li><a href="/heapsort.html">Heap sort</a></li>
      <li><a href="/bst.html">Binary search tree</a></li>
    </ul>
  </div>
</body>
